body {
    margin: 0;
    padding: 0;
    padding-top: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85%;
    width: 100%;
    font-family: "Helvetica", "Arial", sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
}

.gridContainer {
    margin-bottom: 50px;
    display: inline-grid;
    width: 300px;
    justify-items: center;
    align-items: center;
}

.photo {
    width: 175px;
    height: auto;
    user-select: none;
    margin-right: 1rem;
}

.icon {
    height: 50px;
    width: auto;
    margin: 10px
}

.links {
    display: grid;
    grid-auto-flow: column;
}

